<h1>{{ article.title }}</h1>
<h2>{{ article.venue }}</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'articles:update' article.id %}" method="post">
  {% csrf_token %}
  {% for authors in article.authors %}
    <input type="radio" name="author" id="author{{ forloop.counter }}" value="{{ author.id }}" />
    <label for="author{{ forloop.counter }}">{{ author.name }}</label><br />
  {% endfor %}
  <input type="submit" value="Update" />
</form>
