<!DOCTYPE html>

{% load static %}

<html>
<head>

    <title>Articles</title>
</head>
<body>
<center>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <div id="find-popover" class="hide">
                            <form id="find-form" role="form" action="{% url 'articles:index' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control" id="verb" name="find" placeholder="article" >
				    <label for="verb"> <button type="submit" class="btn btn-default">Find</button></label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Venue</th>
                        <th>Title</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
		    
    		    <ul>
    	    		{% for article in latest_articles_list %}
			<tr>
      			<td>{{ article.venue }}</td>
			<td><a href="/articles/{{ article.id }}">{{article.title}}</a></td>
			<td>{{ article.year }}</td>
			</tr>
    			{% endfor %}
    		    </ul>
		    
                </tbody>
            </table>
        </div>
    </div>
	<form id="find-form" role="form" action="{% url 'articles:create' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
				    <label for="verb"> <button type="submit" class="btn btn-default">+</button></label>
                                </div>
                            </form>
</center>
</body>
</html>
